IndentWidth: 8
TabWidth: 8
UseTab: Always
ColumnLimit: 80
ContinuationIndentWidth: 8
IndentCaseLabels: True
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AccessModifierOffset: 0
